#!/bin/sh
set -e 

PACKAGE=linker

case "$1" in
  build)
    make
    ;;

  install)
    DESTDIR=~/tmp/$PACKAGE
    rm -rf $DESTDIR
    mkdir -p $DESTDIR/data/local/bin
    install -m755 linker $DESTDIR/data/local/bin
    ;;

  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
